<div class="todo-container">
  @for (
    todo of todoDatajajaja;
    track todo.id;
    ) {
    <!-- <app-todo
    *ngIf="todoData"
    #todoRef
    [todoData]="todo"
    (onClickIcon)="todoData=null"
    >
    <app-input placeholder="Nombres"></app-input>
    <app-input placeholder="Apellidos"></app-input>
    <app-input placeholder="Edad" type="number"></app-input>
    <div class="comment" style="margin-top:1rem;">
      <textarea rows="5"></textarea>
    </div>
    </app-todo> -->
    <router-outlet></router-outlet>
  }@empty {
    No hay datos
  }

</div>
<br>
<br>
<button (click)="router.navigate([''])">Home</button>
<button (click)="router.navigate(['/todo'])">Todo</button>
<button (click)="selectTodo()">Seleccionar todo</button>

